.Btn {
  padding: 12px !important;
  border-radius: 100%;
  background-color: #ffffff;
  border: none;
  z-index: 111111;
  border: 2px solid rgba(128, 128, 128, 0.288);
  transition: 0.4s;
}
.Btn svg {
  width: 30px;
  height: 30px;
  transition: 0.4s;
}

/* Hover */

.Btn:hover {
  background-color: rgb(196, 196, 196);
}
.Btn:hover svg {
  transform: rotateY(180deg);
}
